

main {
    margin: 24px auto 0;
    max-width: 1000px;
    padding: 24px;
}

.balance {
    font-size: 24px;
    text-align: center;
}

.add-expense {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 24px 0 0;
    max-width: 800px;
}

.results {
    display: flex;
    justify-content: space-around;
    gap: 24px;
    margin: 24px 0 0;
}

.result {
    border:1px solid black;
    padding: 16px;
    width: 100%;

}

.result-heading {
    text-align: center;
}

.result-content {
    display: grid;
    gap:16px;
    grid-template-columns: repeat(4,1fr);
    margin-top: 16px;
}
.result-total {
    font-weight: bold;
    margin-top: 16px;
    text-align: right;
}

/* Helper classes */
.negative {
    color: red;
}