/* 
'dirt':'#23201A',
 'dirt-400': '#292622',
 'dirt-300': '#312F2B',
 'pine-cone':'#EE684A',
 'northern-lights':'#9CE7DB',
*/

:root {
  --dirt: #23201a;
  --dirt-400: #292622;
  --dirt-300: #312f2b;
  --pine-cone: #ee684a;
  --northern-lights: #9ce7db;
  --white: #fff;
}

body {
  background-color: var(--dirt);
  font-family: "Rubik", sans-serif;
  font-size: 16px;
}
main {
  margin: 24px auto 0;
  max-width: 1000px;
  padding: 24px;
}

/* hide on load */
.instructions,
.balance {
  color: var(--white);
  display: none;
  font-size: 24px;
  text-align: center;
}

.instructions {
  display: block;
}

.balance {
  margin-top: 24px;
}
.add-expense {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 24px 0 0;
  max-width: 800px;
}

.add-expense select,
.add-expense input {
  padding: 4px 8px;
}

.add-expense button,
.result button {
  background-color: var(--northern-lights);
  padding: 4px 8px;
  font-weight: 900;
  border: 1px solid var(--dirt-300);
  border-radius: 4px;
}

/* hide on load */
.results {
  display: none;
  justify-content: space-around;
  gap: 24px;
  margin: 24px 0 0;
  @media screen and (max-width: 767px) {
    flex-direction: column;
  }
}

/* hide on load */
.result {
  background-color: var(--dirt-300);
  border: 1px solid var(--dirt);
  display: none;
  padding: 16px;
  width: 100%;
}

.result-heading {
  color: var(--pine-cone);
  text-align: center;
}

.result-content {
  color: var(--white);
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 16px;
}

.result-total {
  color: var(--northern-lights);
  font-weight: bold;
  margin-top: 16px;
  text-align: right;
}

/* Helper classes */
.display-block {
  display: block;
}
.display-flex {
  display: flex;
}
.negative {
  color: var(--pine-cone);
}

/* Animations */
.fade-in {
  opacity: 0;
  animation: fadeIn 1s forwards;
}

.fade-out {
  opacity: 0;
  animation: fadeOut 1s forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    height: auto;
  }
  to {
    opacity: 0;
    height: 0;
  }
}
